<div class="flex justify-around items-center">
    <h1 class="font-sans text-2xl"> <a href="/">E-commerce Site</a></h1>
    <div>
        <% if(role && role == 'admin'){ %>
            <a href="/admin/addProduct">Add Product</a>
            <a href="/admin/vieweditproduct">View/Edit Product</a>
        <% } %>
    </div>
    <div>
        <% if(email){ %>
            <p>User: <%= email %></p>
        <% } %>
        <% if(loggedIn){%> 
            <a href="/logout">Log out</a>
        <% }else{ %>
            <a href="/login">Login</a>
        <% } %>
        <a href="/cart">Cart</a>
        <a href="/signup">Signup</a>
    </div>
</div>  